<app-ui-card title=""  [withTitle]="false">
  <div card-body>
    <div class="row">
      @if (evento.etapaActualData) {
        <div class="row">
          <h5 class="fw-bold">Etapa</h5>
          <p class="ms-2">{{ evento.etapaActualData.nombre }}</p>
        </div>
      }
      @if (evento.producto) {
        <div class="row">
          <h5 class="fw-bold">Producto</h5>
          <p class="ms-2">{{ evento.producto.sigla + ' - ' + evento.producto.nombre + ' | ' + evento.producto.entornoCodigo }}</p>
        </div>
      }
      @if (evento.cliente) {
        <div class="row">
          <h5 class="fw-bold">Cliente</h5>
          <p class="ms-2">{{ evento.cliente.sigla + ' - ' + evento.cliente.nombre }}</p>
        </div>
      }
      <div class="row">
        <h5>Prioridad</h5>
        <div class="col-4">
          @if (evento.prioridadUsu) {
            <div>
              <h6 class="fw-bold">Usuario</h6>
              <!-- <p class="ms-2">{{ evento.prioridadUsu }}</p> -->
              <app-prioridad-icon [nivel]="evento.prioridadUsu"></app-prioridad-icon>
            </div>
          }
        </div>
        <div class="col-4">
          @if (evento.prioridadCal) {
            <div>
              <h6 class="fw-bold">Calculada</h6>
              <!-- <p class="ms-2">{{ evento.prioridadCal }}</p> -->
              <app-prioridad-icon [nivel]="evento.prioridadCal"></app-prioridad-icon>
            </div>
          }
        </div>
        <div class="col-4">
          @if (evento.prioridadFin) {
            <div>
              <h6 class="fw-bold">Final</h6>
              <!-- <p class="ms-2">{{ evento.prioridadFin }}</p> -->
              <app-prioridad-icon [nivel]="evento.prioridadFin"></app-prioridad-icon>
            </div>
          }
        </div>
      </div>

      <div class="row">
        <h5 class="fw-bold mt-2">Fecha Inicio:</h5>
        @if (evento.cerrado) {
          <p class="ms-2">{{ evento.fechaInicio | date: 'short' }}</p>
        } @else {
          <input type="date" [ngModel]="formatDateForInput(evento.fechaInicio)" name="fechaInicio" id="fechaInicio" class="form-control ms-2" (ngModelChange)="onFechaChange($event, 'fechaInicio')">
        }
      </div>
      <div class="row">
        <h5 class="fw-bold mt-2">Fecha Estimada:</h5>
        @if (evento.cerrado) {
          <p class="ms-2">{{ evento.fechaFinEst | date: 'short' }}</p>
        } @else {
          <input type="date" [ngModel]="formatDateForInput(evento.fechaFinEst)" name="fechaFinEst" id="fechaFinEst" class="form-control ms-2" (ngModelChange)="onFechaChange($event, 'fechaFinEst')">
        }
      </div>
      <div class="row">
        <h5 class="fw-bold mt-2">Fecha Fin:</h5>
        @if (evento.cerrado) {
          <p class="ms-2">{{ evento.fechaFinReal | date: 'short' }}</p>
        } @else {
          <input type="date" [ngModel]="formatDateForInput(evento.fechaFinReal)" name="fechaFinReal" id="fechaFinReal" class="form-control ms-2" (ngModelChange)="onFechaChange($event, 'fechaFinReal')" disabled>
        }
      </div>
      <div class="row">
        <h5 class="fw-bold mt-2">Fecha Entrega:</h5>
        @if (evento.cerrado) {
          <p class="ms-2">{{ evento.fechaEntrega | date: 'short' }}</p>
        } @else {
          <input type="date" [ngModel]="formatDateForInput(evento.fechaEntrega)" name="fechaEntrega" id="fechaEntrega" class="form-control ms-2" (ngModelChange)="onFechaChange($event, 'fechaEntrega')">
        }
      </div>


      @if (evento.usuarioActual) {
        <div class="row">
          <h5 class="fw-bold mt-2">Asignado a</h5>
          <app-badge-click 
              [backgroundColor]="evento.usuarioActual.color"
              (click)="abrirUsuarioDrawer(evento.usuarioActual.id)"
              style="cursor:pointer"
          >
              {{ evento.usuarioActual.usuario }}
          </app-badge-click>
        </div>
      }
      <!-- @if (tags?.length) {
        <h5 class="fw-bold">Tags</span>
        <span class="ms-2">
          @for(tag of tags; track tag) {
            <span class="badge bg-secondary me-1">{{ tag }}</span>
          }
        </span>
      } -->

      <p-divider type="solid" />

      @if (evento.usuarioAlta) {
        <div class="row">
          <h5 class="fw-bold">Creado por</h5>
          <!-- <p class="ms-2">{{ creadoPor }}</p> -->
          <app-badge-click 
              [backgroundColor]="evento.usuarioAlta.color"
              (click)="abrirUsuarioDrawer(evento.usuarioAlta.id)"
              style="cursor:pointer"
          >
              {{ evento.usuarioAlta.usuario }}
          </app-badge-click>
        </div>
      }
      @if (evento.createdAt) {
        <div class="row">
          <h5 class="fw-bold">Creado en:</h5>
          <p class="ms-2">{{ evento.createdAt | date: 'short' }}</p>
        </div>
      }
      @if (evento.deletedAt) {
        <div class="row">
          <h5 class="fw-bold">Eliminado en:</h5>
          <p class="ms-2">{{ evento.deletedAt | date: 'short' }}</p>
        </div>
      }
    </div>
  </div>
</app-ui-card>
