<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 mt-3">
            <app-ui-card title="Clientes">
                <div card-body>
                    <p-toolbar styleClass="mb-4 gap-2">
                        <ng-template pTemplate="left">
                            <app-filtro-radio-group
                                [options]="FiltroActivoOptions"
                                [checkedValue]="filtroActivo"
                                (filtroCambio)="filtroCambio($event)"
                                [notLabel]="true"
                            ></app-filtro-radio-group>
                        </ng-template>
                        <ng-template pTemplate="right">
                            @if (can(PermisoAccion.CREAR)) {
                                <app-control-trabajar-con
                                    (nuevo)="mostrarModalCrud(null, 'A')"
                                    (plantilla)="getPlantilla()"
                                    (exportarExcel)="exportarExcel()"
                                    (importar)="importarExcel($event)">
                                ></app-control-trabajar-con>
                            }
                        </ng-template>
                    </p-toolbar>
                    <p-table
                        #dt
                        [value]="clientes"
                        [rows]="10"
                        [paginator]="true"
                        [globalFilterFields]="['id', 'sigla', 'nombre', 'activo']"
                        [tableStyle]="{ 'min-width': '75rem' }"
                        [rowHover]="true"
                        dataKey="id"
                        currentPageReportTemplate="Mostrando desde {first} a {last} de {totalRecords} registros"
                        [showCurrentPageReport]="true"
                        size="small"
                    >
                        <ng-template pTemplate="caption">
                            <div class="flex align-items-center justify-content-between" style="display: flex;">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText style="padding-top: 0.4rem !important;padding-bottom: 0.4rem !important;margin-left: 10px;" class="p-component p-element p-inputtext"  type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')" placeholder="Buscar..." />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <!-- <th style="width: 4rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th> -->
                                <th pSortableColumn="id" hidden>Id <p-sortIcon field="id" ></p-sortIcon></th>
                                <th pSortableColumn="sigla">Sigla <p-sortIcon field="sigla"></p-sortIcon><p-columnFilter type="text" field="sigla" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter></th>
                                <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre" ></p-sortIcon><p-columnFilter type="text" field="nombre" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter></th>
                                <th pSortableColumn="activo">Activo <p-sortIcon field="activo"></p-sortIcon></th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-cliente>
                            <tr>
                                <!-- <td>
                                    <p-tableCheckbox [value]="cliente"></p-tableCheckbox>
                                </td> -->
                                <td hidden>{{ cliente.id }}</td>
                                <td>{{ cliente.sigla }}</td>
                                <td>{{ cliente.nombre }}</td>
                                <td><span class="badge " style="min-width: 40%;" [ngClass]="cliente.activo ? 'text-bg-success' : 'text-bg-danger'">{{ cliente.activo | booleanLabel }}</span></td>
                                <td class="d-flex justify-content-end">
                                    @if (can(PermisoAccion.MODIFICAR)) {
                                        <button class="btn btn-ghost-warning" (click)="mostrarModalCrud(cliente, 'M')"><ng-icon name="lucidePencil"/></button>
                                    }
                                    @if (can(PermisoAccion.ELIMINAR)) {
                                        <button class="btn btn-ghost-danger" (click)="delete(cliente)"><ng-icon name="lucideTrash2"/></button>
                                    }
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="flex align-items-center justify-content-between">En total hay {{ clientes ? clientes.length : 0 }} Clientes.</div>
                        </ng-template>
                    </p-table>

                </div>
            </app-ui-card>

        </div>
    </div>
</div>