<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 mt-3">
            <app-ui-card title="Eventos Usuario">
                <div card-body>
                    <p-toolbar styleClass="mb-4 gap-2">
                        <ng-template pTemplate="left">
                        </ng-template>
                        <ng-template pTemplate="right">
                        </ng-template>
                    </p-toolbar>
                    <p-table
                        #dt
                        [value]="eventos"
                        [rows]="10"
                        [paginator]="true"
                        [globalFilterFields]="['id', 'tipo.codigo', 'numero', 'titulo', 'etapaActualData.nombre', 'cliente.sigla', 'cliente.nombre', 'producto.sigla', 'producto.nombre', 'producto.entornoCodigo', 'modulo.codigo', 'modulo.nombre', 'usuarioActual.usuario']"
                        [tableStyle]="{ 'min-width': '75rem' }"
                        [rowHover]="true"
                        dataKey="id"
                        currentPageReportTemplate="Mostrando desde {first} a {last} de {totalRecords} registros"
                        [showCurrentPageReport]="true"
                        [scrollable]="true"
                        size="small"
                        [scrollable]="true" [resizableColumns]="true"
                        sortField="prioridadFin" [sortOrder]="-1"
                    >
                        <ng-template pTemplate="caption">
                            <div class="flex align-items-center justify-content-between" style="display: flex;">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText style="padding-top: 0.4rem !important;padding-bottom: 0.4rem !important;margin-left: 10px;" class="p-component p-element p-inputtext"  type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')" placeholder="Buscar..." />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr style="min-height: 55px;">
                                <!-- <th style="width: 4rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th> -->
                                <th pSortableColumn="id" hidden>Id</th>
                                <th pSortableColumn="tipo.codigo" hidden>Tipo</th>
                                <th pSortableColumn="numero" hidden>Numero</th>
                                <th pSortableColumn="tipo.codigo" style="min-width: 110px;">
                                    <div class="flex align-items-center" style="justify-content: space-around;">
                                        Evento
                                        <p-columnFilter type="text" field="tipo.codigo" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="titulo">
                                    <div class="flex align-items-center" style="justify-content: space-around;">
                                        Titulo
                                        <p-columnFilter type="text" field="titulo" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter>  
                                    </div>
                                </th>
                                <th pSortableColumn="etapaActualData.nombre" filterField="etapaActualData.nombre">
                                    <div class="flex align-items-center" style="justify-content: space-around;">
                                        Etapa
                                        <p-columnFilter type="text" field="etapaActualData.nombre" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter>
                                    </div></th>
                                <th pSortableColumn="cliente.nombre" filterField="cliente.nombre">
                                    <div class="flex align-items-center" style="justify-content: space-around;">
                                        Cliente
                                        <p-columnFilter type="text" field="cliente.nombre" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="producto.nombre" filterField="producto.nombre">
                                    <div class="flex align-items-center" style="justify-content: space-around;">
                                        Producto
                                        <p-columnFilter type="text" field="producto.nombre" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="modulo.nombre" filterField="modulo.nombre">
                                    <div class="flex align-items-center" style="justify-content: space-around;">
                                        Modulo
                                        <p-columnFilter type="text" field="modulo.nombre" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="prioridadFin">Prioridad  <p-sortIcon field="prioridadFin"></p-sortIcon></th>
                                <th pSortableColumn="usuarioActual.usuario" style="min-width: 115px;" filterField="usuarioActual.usuario">
                                    <div class="flex align-items-center" style="justify-content: space-around;">
                                        Usuario
                                        <p-columnFilter type="text" field="usuarioActual.usuario" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="createdAt">Alta</th>
                                <th pSortableColumn="fechaInicio">Inicio</th>
                                <th pSortableColumn="fechaFin">Fin</th>
                                <th pSortableColumn="usuarioAlta.usuario" hidden>Usuario Alta</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-evento>
                            <tr style="min-height: 55px">
                                <td hidden>{{ evento?.id }}</td>
                                <td hidden>{{ evento?.tipo?.id }}</td>
                                <td hidden>{{ evento?.numero }}</td>
                                <td>
                                    <app-badge-click 
                                        [backgroundColor]="evento.tipo.color"
                                        (click)="abrirEventoDrawer(evento)"
                                        style="cursor:pointer"
                                    >
                                        {{ evento.tipo.codigo }}-{{evento.numero | padZero:3}}
                                    </app-badge-click>
                                </td>
                                <td>{{ evento?.titulo }}</td>
                                <td>{{ evento?.etapaActualData?.nombre }}</td>
                                <td>{{ evento?.cliente ? evento.cliente?.sigla + " - " + evento.cliente?.nombre : "-" }} </td>
                                <td>{{ evento?.producto ? evento.producto?.sigla + " - " + evento.producto?.nombre + (evento.producto?.entornoCodigo ? " | " + evento.producto.entornoCodigo : "") : "-" }} </td>
                                <td>{{ evento?.modulo ? evento.modulo?.codigo + " - " + evento.modulo?.nombre : "-" }} </td>
                                <td>
                                <div class="d-flex justify-content-center">
                                    <app-prioridad-icon [nivel]="evento?.prioridadFin" ></app-prioridad-icon>
                                </div>
                                </td>
                                <td>
                                <app-badge-click style="cursor: pointer" (click)="abrirUsuarioDrawer(evento?.usuarioActual?.id)" >
                                    {{ evento?.usuarioActual?.usuario }}
                                </app-badge-click>
                                </td>
                                <td> {{ evento?.createdAt ? (evento.createdAt | date : "short") : "" }} </td>
                                <td> {{ evento?.fechaInicio ? (evento.fechaInicio | date : "shortDate") : "" }} </td>
                                <td> {{ evento?.fechaFin ? (evento.fechaFin | date : "shortDate") : "" }} </td>
                                <td hidden>{{ evento?.usuarioAlta?.usuario }}</td>
                                <td class="d-flex justify-content-end" style="min-height: 55px;">
                                    @if (!evento.cerrado && !evento.tipo.propio) {
                                        @if (evento.etapaSiguiente) {
                                            @if (evento.etapaActualData.deAutoriza) {
                                                <button class="btn btn-ghost-warning" (click)="mostrarModalCrud(evento, 'AUT')"><ng-icon name="lucideCircleCheckBig"/></button>
                                            } @else {
                                                @if (evento.etapaActualData.puedeContinuar){
                                                    <button class="btn btn-ghost-warning" (click)="mostrarModalCrud(evento, 'AVZ')"><ng-icon name="lucideFastForward"/></button>
                                                } @else {
                                                    <div
                                                        style="min-height: 42px;"
                                                        placement="top"
                                                        container="body"
                                                        triggers="hover"
                                                        popoverClass="popover-warning"
                                                        ngbPopover="{{getRequisitosFaltantes(evento)}}"
                                                        popoverTitle="Requisitos Faltantes"
                                                        >
                                                        <button
                                                            style="min-height: 42px;"
                                                            class="btn btn-ghost-warning"
                                                            (click)="mostrarModalCrud(evento, 'AVZ')"
                                                            disabled
                                                        >
                                                            <ng-icon name="lucideFastForward"/>
                                                        </button>
                                                    </div>
                                                }    
                                            }
                                        }
                                        @if (evento.etapaAnterior) {
                                            @if (evento.etapaActualData.deAutoriza) {
                                                <button class="btn btn-ghost-danger" (click)="mostrarModalCrud(evento, 'REC')"><ng-icon name="lucideCircleSlash"/></button>
                                            } @else {
                                                <button class="btn btn-ghost-danger" (click)="mostrarModalCrud(evento, 'RTO')"><ng-icon name="lucideRewind"/></button>
                                            }
                                        }
                                        <button class="btn btn-ghost-danger" (click)="mostrarModalCrud(evento, 'RAS')"><ng-icon name="lucideRotateCcw"/></button>
                                    }
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="flex align-items-center justify-content-between">En total hay {{ eventos ? eventos.length : 0 }} Eventos.</div>
                        </ng-template>
                    </p-table>

                </div>
            </app-ui-card>

        </div>
    </div>
</div>

<!-- Drawer para mostrar el detalle del evento -->
<app-evento-drawer
    [visible]="showEventoDrawer"
    [eventoId]="eventoSeleccionadoId"
    (closed)="cerrarEventoDrawer()"
></app-evento-drawer>

<!-- Drawer para mostrar el detalle del usuario -->
<app-usuario-drawer
    [visible]="showUsuarioDrawer"
    [usuarioId]="usuarioSeleccionadoId"
    (closed)="cerrarUsuarioDrawer()"
></app-usuario-drawer>