@if (loadingSelect) {
    <app-loading-spinner></app-loading-spinner>
}
<div>
    <p-table
        #dt
        [value]="productos"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['id', 'sigla', 'nombre', 'entornoCodigo']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrando desde {first} a {last} de {totalRecords} registros"
        [showCurrentPageReport]="true"
        size="small"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between" style="display: flex;">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText style="padding-top: 0.4rem !important;padding-bottom: 0.4rem !important;margin-left: 10px;" class="p-component p-element p-inputtext"  type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id" hidden>Id</th>
                <th pSortableColumn="sigla">Sigla <p-sortIcon field="sigla"></p-sortIcon><p-columnFilter type="text" field="sigla" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter></th>
                <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre" ></p-sortIcon><p-columnFilter type="text" field="nombre" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter></th>
                <th pSortableColumn="entornoCodigo">Entorno <p-sortIcon field="entornoCodigo"></p-sortIcon><p-columnFilter type="text" field="entornoCodigo" display="menu" matchMode="contains" style="margin-left: 2px;"></p-columnFilter></th>
                <th pSortableColumn="activo">Activo <p-sortIcon field="activo"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto>
            <tr style="min-height: 55px;">
                <td hidden>{{ producto.id }}</td>
                <td>{{ producto.sigla }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.entornoCodigo }}</td>
                <td><span class="badge " style="min-width: 40%;" [ngClass]="producto.activo ? 'text-bg-success' : 'text-bg-danger'">{{ producto.activo | booleanLabel }}</span></td>
                <td class="d-flex justify-content-end" style="min-height: 55px;">
                    <button class="btn btn-ghost-warning" (click)="select(producto)"><ng-icon name="lucideSearchCheck"/></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">En total hay {{ productos ? productos.length : 0 }} Productos.</div>
        </ng-template>
    </p-table>
</div>