<div class="container-fluid">

  <div class="row">

    <div class="col-md-9">

      <div class="row">

        <div class="col-12">
          <app-tickets-by-stage />
        </div>

        <div class="row row-cols-xxl-4 row-cols-md-2 row-cols-1 mt-3">
          <div class="col">
            <app-prompts-usage />
          </div>

          <div class="col">
            <app-active-users />
          </div>

          <div class="col">
            <app-response-accuracy />
          </div>

          <div class="col">
            <app-token-usage />
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <app-request-statistics />
          </div>
        </div>

        <div class="row">
          <div class="col-xxl-6">
            <app-recent-sessions />
          </div>

          <div class="col-xxl-6">
            <app-model-usage-summary />

            <app-api-performance-metrics />
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-3">

      <div class="row">

        <app-ui-card title="" [isReloadable]="true" [reloading]="actividadLoading" (reload)="reloadActividad()">
          <div card-body>
            <p>Contenido del card</p>

          </div>
        </app-ui-card>

      </div>

    </div>

  </div>

</div>