<div class="container-fluid">

  <div class="row">

    <div class="col-md-9">

      <div class="row">

        <div class="row">
          <div class="col-12">
            <app-eventos-por-cliente />
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <app-eventos-por-etapa />
          </div>

          <div class="col-6">
            <app-eventos-por-tipo />
          </div>
        </div>

      </div>
    </div>


    <div class="col-md-3">

      <div class="row">

        <app-ui-card title="" [isReloadable]="true" [reloading]="actividadLoading" (reload)="reloadActividad()">
          <div card-body>
            <p>Contenido del card</p>

          </div>
        </app-ui-card>

      </div>

    </div>


  </div>