<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
@if (cargandoUsuario) {
    <app-loading-spinner></app-loading-spinner>
}
<div class="row">
    <div [ngClass]="esMitadPantalla ? 'col-12 mb-3' : 'col-xl-3 mb-3'">
        <app-ui-card [withTitle]="false" [className]="'text-center p-4'">
            <div card-body>
                @if (usuario) {
                    <div class="row">
                        <div [ngClass]="esMitadPantalla ? 'col-4' : 'col-12'">
                            <app-avatar-editable
                                [imageSrc]="getFotoPerfil()"
                                [size]="120"
                                [editable]="esPropioPerfil"
                                (edit)="abrirModalAvatar()"
                                class="mb-3 d-inline-block">
                            </app-avatar-editable>
                        </div>
                        <div [ngClass]="esMitadPantalla ? 'col-8' : 'col-12'">
                            <h4 class="mb-0">{{ usuario.nombre }} {{ usuario.apellido }}</h4>
                            <p class="text-muted mb-1">{{ usuario.usuario }}</p>
                            <p class="text-muted mb-1">{{ usuario.email }}</p>
                            <div class="d-flex gap-2 justify-content-center">
                                @if (getUrlDiscord()) {
                                    <a [href]="getUrlDiscord()" target="_blank" rel="noopener noreferrer" class="btn btn-sm rounded-circle d-inline-flex align-items-center justify-content-center" style="width: 32px; height: 32px; padding: 0; background-color: #5865F2; border-color: #5865F2; color: white;" title="Discord">
                                        <ng-icon name="tablerBrandDiscord" size="20" />
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </app-ui-card>
    </div>
    <div [ngClass]="esMitadPantalla ? 'col-12' : 'col-xl-9'">
        <app-ui-card [withTitle]="false" [className]="'p-4'">
            <div card-body>
                <ul
                    ngbNav
                    #colorBorderNav="ngbNav"
                    [activeId]="activeTab"
                    class="nav nav-tabs nav-justified nav-bordered mb-3"
                >
                    <li [ngbNavItem]="1">
                        <a href="javascript:void(0);" ngbNavLink>
                            <ng-icon name="tablerUserCircle" class="fs-lg me-md-1 align-middle d-inline-flex" />
                            <span class="d-none d-md-inline-block align-middle">Perfil</span>
                        </a>
                        <ng-template ngbNavContent>
                            @if (usuario) {
                                <app-tab-perfil
                                    [usuarioId]="usuario.id!"
                                    [eventosActuales]="eventosActuales"
                                    [rolesUsuario]="rolesUsuario"
                                />
                            }
                        </ng-template>
                    </li>
                    
                    @if (esPropioPerfil) {
                        <li [ngbNavItem]="2">
                            <a href="javascript:void(0);" ngbNavLink>
                                <ng-icon name="tablerUserEdit" class="fs-lg me-md-1 align-middle d-inline-flex" />
                                <span class="d-none d-md-inline-block align-middle">Modificar</span>
                            </a>
                            <ng-template ngbNavContent>
                                @if (usuario) {
                                    <app-tab-modificar [usuario]="usuario" (usuarioModificado)="cargarUsuario(usuario.id!)" />
                                }
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="3">
                            <a href="javascript:void(0);" ngbNavLink>
                                <ng-icon name="lucideSettings2" class="fs-lg me-md-1 align-middle d-inline-flex"/>
                                <span class="d-none d-md-inline-block align-middle">Preferencias</span>
                            </a>
                            <ng-template ngbNavContent>
                                @if (usuario) {
                                    <app-tab-preferencias [usuario]="usuario" />
                                }
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="4">
                            <a href="javascript:void(0);" ngbNavLink>
                                <ng-icon
                                name="tablerLockPassword"
                                class="fs-lg me-md-1 align-middle d-inline-flex"
                                />
                                <span class="d-none d-md-inline-block align-middle">Seguridad</span>
                            </a>
                            <ng-template ngbNavContent>   
                                @if (usuario) {
                                    <app-tab-seguridad [usuario]="usuario" />
                                }
                            </ng-template>
                        </li>
                    }
                </ul>

                <div class="tab-content" [ngbNavOutlet]="colorBorderNav"></div>
                
            </div>
        </app-ui-card>
    </div>
</div>

<app-modal-seleccionar-avatar
    [(visible)]="mostrarModalAvatar"
    [imagenActual]="getNombreFotoPerfil()"
    (imagenCambiada)="cambiarFotoPerfil($event)">
</app-modal-seleccionar-avatar>
