.loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128,128,128,0.3); /* fondo grisado */
  z-index: 10;
}
.loading-spinner img {
  width: 80px;
  height: 80px;
}
