<div class="card flex justify-content-center" [appShortcut]="SHORTCUTS.INFO" (appShortcutTrigger)="mostarInfoShortcut()">
    <p-dialog header="Atajos de teclado" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    @for (atajo of atajos; track atajo) {
        <div class="grid atajo">
            <div class="col atajo_desc">
                <p>{{atajo.combo}}:</p>
            </div>
            <div class="col atajo_atajo">
                <p>{{atajo.descripcion}}</p>
            </div>
        </div>
    }
    </p-dialog>
</div>