/* You can add global styles to this file, and also import other style files */
@use "choices.js/src/styles/choices";
@use "primeicons/primeicons.css";
// @use "./assets/scss/pages/timeline.scss";

@use "./assets/scss/app.scss";

.p-multiselect {
  width: 100%;
}

.choices__list--dropdown {
  z-index: 1055 !important; /* Asegura que esté por encima de la mayoría de los modales (z-index 1050) */
}

.titulo_dropdown {
  margin: 2px 10px;
  font-size: 12px;
  color: lightgray;
  font-weight: 500;
}

.dropzone .dropzone.dz-wrapper .dz-message,
.dropzone .dropzone.dz-wrapper .dz-message .dz-message {
  padding: 0 !important;
  height: inherit !important;
}
dropzone>.dropzone.dz-wrapper .dz-message .dz-text {
  transform: translateY(-69%) !important;
}
.dropzone {
  min-height: inherit !important;
}