/* You can add global styles to this file, and also import other style files */
@use "choices.js/src/styles/choices";
@use "primeicons/primeicons.css";
// @use "./assets/scss/pages/timeline.scss";

@use "./assets/scss/app.scss";

.p-multiselect {
    width: 100%;
}

.choices__list--dropdown {
  z-index: 1055 !important; /* Asegura que esté por encima de la mayoría de los modales (z-index 1050) */
}