/* You can add global styles to this file, and also import other style files */
@use "choices.js/src/styles/choices";
@use "primeicons/primeicons.css";
// @use "./assets/scss/pages/timeline.scss";

@use "./assets/scss/app.scss";

// Crepe Editor styles
@import "@milkdown/crepe/theme/common/style.css";
// @import "@milkdown/crepe/theme/frame.css";
// @import "@milkdown/crepe/theme/nord-dark.css";
@import "@milkdown/crepe/theme/nord.css";

// Forzar que el slash-menu y otros popovers se rendericen en z-index alto
.milkdown-slash-menu,
.milkdown .milkdown-slash-menu,
[data-tippy-root],
.tippy-box {
  z-index: 9999 !important;
  position: fixed !important;
}

.milkdown {
  min-height: inherit;
}
.milkdown .milkdown-slash-menu .tab-group {
  padding: 0px !important;
  ul {
    margin: 0 !important;
    li {
      margin: 0 !important;
    }
  }
}
.milkdown .milkdown-slash-menu .menu-groups .menu-group {
  h6 {
    margin: 0 !important;
    padding: 7px 5px !important;
  }
  ul {
    margin: 0 !important;
    li {
      margin: 0 !important;
      padding: 7px 5px !important;
    }
  }
}
.milkdown .ProseMirror {
  padding: 10px 50px !important;
}


.p-multiselect {
  width: 100%;
}
.p-contextmenu {
  position: fixed !important;
}

.choices__list--dropdown {
  z-index: 1055 !important; /* Asegura que esté por encima de la mayoría de los modales (z-index 1050) */
}

.titulo_dropdown {
  margin: 2px 10px;
  font-size: 12px;
  color: lightgray;
  font-weight: 500;
}

.dropzone .dropzone.dz-wrapper .dz-message,
.dropzone .dropzone.dz-wrapper .dz-message .dz-message {
  padding: 0 !important;
  height: inherit !important;
}
dropzone>.dropzone.dz-wrapper .dz-message .dz-text {
  transform: translateY(-69%) !important;
}
.dropzone {
  min-height: inherit !important;
}

