<div class="topbar-item">
  <div ngbDropdown>
    <button
      class="topbar-link dropdown-toggle drop-arrow-none"
      ngbDropdownToggle
      type="button"
    >
      <ng-icon name="lucideBell" class="fs-xxl" />
      @if (getCantidadNoLeidas() > 0) {
        <span class="badge badge-square text-bg-success topbar-badge"
          >{{ getCantidadNoLeidas() }}</span
        >
      }
    </button>

    <div class="dropdown-menu-lg" ngbDropdownMenu>
      <div class="px-3 py-2 border-bottom">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="m-0 fs-md fw-semibold">Notifications</h6>
          </div>
          <div class="col text-end">
              <div class="d-flex align-items-center gap-2 justify-content-end">
                <!-- Switch para ver solo no leídas -->
                <div class="form-check form-switch m-0">
                  <input class="form-check-input" type="checkbox" id="switchNoLeidas" [checked]="verSoloNoLeidas" (change)="onToggleNoLeidas($event)" />
                  <label class="form-check-label fs-xs" for="switchNoLeidas">No leídas</label>
                </div>
                <!-- Boton refresh -->
                <button (click)="loadNotifications()" class="btn-refresh border-0">
                  <ng-icon name="tablerRefresh" />
                </button>
              </div>
          </div>
        </div>
      </div>
      <ngx-simplebar style="max-height: 300px; overflow: auto">
        @if (notifications && notifications.length > 0) {
            @for (notification of notifications; track notification.id) {
            <div
              class="dropdown-item notification-item py-2 text-wrap"
              [ngClass]="{'bg-light': notification.leida === true, 'bg-warning-subtle': notification.leida === false}"
            >
              <span class="d-flex gap-2" (click)="$event.stopPropagation()">
                @if (notification.asunto) {
                <span class="avatar-md flex-shrink-0">
                  <span
                    class="avatar-title bg-primary-subtle text-primary rounded-circle fs-22"
                  >
                    <ng-icon name="{{ getIconNameAccion(notification.asunto) }}" class="fs-md" />
                  </span>
                </span>
                }
                <span class="flex-grow-1 text-muted">
                  <span class="fw-medium text-body">
                    {{ notification.mensaje }}
                  </span>
                  <br />
                  <span class="fs-xs">{{ getTimeAgo(notification.fecha) }}</span>
                </span>
                  <button
                    type="button"
                    (click)="toggleLida(notification); $event.stopPropagation()"
                    class="flex-shrink-0 text-muted btn shadow-none btn-link p-0 btn-mark-read border-0"
                  >
                    <ng-icon name="lucideCircleCheck" class="fs-xxl"></ng-icon>
                  </button>
              </span>
            </div>
          }
        } @else {
          <div class="text-center py-4 text-muted">No tienes notificaciones</div>
        }
      </ngx-simplebar>
      <a
        (click)="markAllAsRead()"
        class="dropdown-item text-center text-reset text-decoration-underline link-offset-2 fw-bold notify-item border-top border-light py-2"
      >
        Marcar todas como leídas
      </a>
    </div>
  </div>
</div>
